@import "../colors";
@import "../variables";

.edit-user-component {

  h1 {
    border-bottom: 1px solid $grey;
    padding-bottom: 15px;
    color: $orange;
    font-weight: 300;
    margin-top: 5px;
  }

  h2 {
    font-weight: 300;
  }

  .input-field {
    flex: 1;
  }

  label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }

    input {
      border: 1px solid $grey;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      display: block;

      &::placeholder {
        color: $grey;
      }
    }
  }

  .actions {
    margin-top: 10px;
    text-align: right;
  }
}