@import "../colors";
@import "../variables";

.edit-user-component {
  h1 {
    border-bottom: 1px solid $grey;
    padding-bottom: 15px;
    color: $orange;
    font-weight: 300;
    margin-top: 5px;
  }

  h2 {
    font-weight: 300;
  }
}