$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);

// header
$header-height: 60px;
$header-active-border: 2px;

// list
$list-padding-sides: 20px;
$list-border: 3px;
$list-height: 60px;

// content
$content-padding: 20px;