@import "colors";
@import "variables";

.edit-user {
  .input-field {
    flex: 1;
  }

  label {
    font-weight: bold;

    input {
      color: $grey;
      border: 1px solid $grey;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      display: block;
      width: 100%;
    }
  }

  .actions {
    margin-top: 10px;
    text-align: right;

    button {
      background-color: $blue;
      color: $white;
      padding: 10px 20px;
      text-transform: uppercase;
      border: 1px solid $blue;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}